.design {
  &-header-mobile {
    display: none;

    @media ($mobile) {
      margin-bottom: $building-unit-x2;
      display: flex;

      &.is-margin-bottom {
        &-x6 {
          margin-bottom: $building-unit-x6;
        }
      }
    }
  }

  &-link {
    &.smaller-padding {
      padding-left: $building-unit-x2;
    }
  }

  &-container {
    padding: $building-unit-x2;
    width: 100%;
    display: flex;

    @media ($mobile) {
      flex-direction: column;
    }
  }

  &-section {
    padding-right: $building-unit-x3;

    @media($tablet) {
      padding-right: 0;
    }

    &.is-half {
      width: 50%;

      @media($tablet) {
        width: 100%;
      }
    }

    &.is-three-forth {
      width: 75%;
    }
  }
}

.dark {
  .design {
    &-header-mobile {
      color: $white;
    }
  }
}
