.grid {
  display: flex;
  flex-direction: column;

  &-row {
    display: flex;
    border-bottom: $border;
    width: 100%;
    min-height: $row-height;

    &:last-child {
      border-bottom: 0;
    }

    &-section {
      flex: 1;
      overflow: hidden;
      position: relative;

      &-cover {
        background-color: $white;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
      }

      &.is-bottom {
        display: flex;
        align-items: flex-end;
      }

      &.is-aligned-right {
        display: flex;
        justify-content: flex-end;

        @media ($mobile) {
          justify-content: flex-start;
        }
      }

      &.with-border-left {
        border-left: $border;
      }

      &.with-border-right {
        border-right: $border;
      }

      &.is-small {
        width: 20%;
        max-width: 20%;

        @media ($tablet) {
          width: 33.333%;
          max-width: 33.333%;
        }

        @media ($mobile) {
          width: 50%;
          max-width: 50%;
        }
      }
    }
  }
}

//dark mode
.dark {
  .grid {
    &-row {
      border-bottom: $border-reversed;

      &-section {
        &-cover {
          background-color: $black;
        }

        &.with-border-left {
          border-left: $border-reversed;
        }

        &.with-border-right {
          border-right: $border-reversed;
        }
      }
    }
  }
}
