.grid {
  display: flex;
  flex-direction: column;

  &-row {
    display: flex;
    border-bottom: $border;
    width: 100%;
    height: $row-height;

    &:last-child {
      border-bottom: 0;
    }

    &-section {
      flex: 1;

      &.is-bottom {
        display: flex;
        align-items: flex-end;
      }

      &.is-aligned-right {
        display: flex;
        justify-content: flex-end;
      }

      &.with-border-left {
        border-left: $border;
      }

      &.with-border-right {
        border-right: $border;
      }

      &.is-small {
        width: 20%;
        max-width: 20%;
      }
    }
  }
}

//dark mode
.dark {
  .grid {
    &-row {
      border-bottom: $border-reversed;

      &-section {
        &.with-border-left {
          border-left: $border-reversed;
        }

        &.with-border-right {
          border-right: $border-reversed;
        }
      }
    }
  }
}
