
@-webkit-keyframes slideUp {
  0% {
    margin-top: 400px;
  }

  100% {
    margin-top: 0;
  }
}

@keyframes slideUp {
  0% {
    margin-top: 400px;
  }

  100% {
    margin-top: 0;
  }
}

/**** Divides ****/

@-webkit-keyframes slideDown {
  0% {
    transform: translateY(100px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(100px);
  }

  100% {
    transform: translateY(0);
  }
}

/**** Divides ****/

@-webkit-keyframes slideRight {
  0% {
    margin-right: -400px;
  }

  100% {
    margin-right: 0;
  }
}

@keyframes slideRight {
  0% {
    margin-right: -400px;
  }

  100% {
    margin-right: 0;
  }
}

/**** Divides ****/

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Appear animation*/
.before-enter-slideUp {
  animation: none;
}

.enter-slideUp {
  animation: slideUp 1s ease-in-out, opacity 1.5s ease-in-out;
}
