.link {
  text-decoration: none;
  color: $black;


  &:before {
    content: '';
    background-color: $red;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
  }

  &.with-plus {
    &:after {
      content: '+';
    }
  }

  &.no-rectangle {
    &:before {
      display: none;
    }
  }

  &.is-underlined {
    text-decoration: underline;
  }

  &.is-red {
    &:before {
      background-color: $red;
    }
  }

  &.is-blue {
    &:before {
      background-color: $blue;
    }
  }

  &.is-purple {
    &:before {
      background-color: $purple;
    }
  }

  &.is-black {
    &:before {
      background-color: $black;
    }
  }
}
