@font-face {
  font-family: $font-family-bold;
  font-style: normal;
  font-weight: $font-regular;
  src: url($font_path + 'Syne-Bold.woff2') format('woff2');
}

@font-face {
  font-family: $font-family;
  font-style: normal;
  font-weight: $font-regular;
  src: url($font_path + 'SpaceGrotesk-Regular.woff') format('woff');
}
