@font-face {
  font-family: $font-family-bold;
  font-style: normal;
  font-weight: $font-regular;
  src: url($font_path + 'Art-Regular.woff') format('woff'), url($font_path + 'Art-Regular.woff2') format('woff2');
}

@font-face {
  font-family: $font-family-italic;
  font-style: italic;
  font-weight: $font-light;
  src: url($font_path + 'SaolDisplay-RegularItalic.woff2') format('woff2');
}
