
@mixin font-face($fontWeight, $fontSize, $fontFamily: $font-family) {
  font-family: $fontFamily, sans-serif;
  font-weight: $fontWeight;
  font-style: normal;
  font-size: $fontSize;
}

.h0 {
  @include font-face($font-light, $font-size-h0-max, $font-family-bold);
  @include fluid-type($min_width, $max_width, $font-size-h0-min, $font-size-h0-max);
}

h1,
.h1 {
  @include font-face($font-bold, $font-size-h1);
  @include fluid-type($min_width, $max_width, $font-size-h3, $font-size-h1);
}

.h1-italic {
  font-family: baskerville-poster-pt, serif;
  font-weight: $font-light;
  font-style: italic;
}
